

.container{
    background-color: rgba(0, 0, 0, 0.001);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerSlider{
    /* background-color: rgb(240, 248, 255); */
    border-radius: 30px;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding-bottom: 3rem;
   
}

.cardInfos{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    
}

.container1{
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
