body{
    margin: 0 !important;
    padding: 0 !important;
}
.container{
    background-color: #0050b8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0rem;
    /* position: fixed; */
    width: 100%;
    

}

.navItemsRight{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type:none;
    text-decoration:none;
    
    
}

.navItem{
    margin: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: whitesmoke;
    text-decoration:none;
}

.logo{
    padding-left: 1rem;
    color: whitesmoke;
}

.userIcon{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    background-color: azure;
    border-radius: 50%;
}

.searchContainer{
    width: 40vw;
    height: fit-content;
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.searchInput{
    width: 37vw;
    padding: 0.5rem;
    /* border-radius: 30px; */
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: none;
}

.searchIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1vw;
    padding: 0.3rem 0.7rem;
    margin: 0px 0.2rem;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: aliceblue;

}

.searchIcon :hover{
    cursor: pointer;
}