
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 89vh; */
}
.calendarContainer{
    width: 70%;
}

.timegutterheader{
    text-align: right;
  padding: 0.5em;
  background-color: blue;
}